html
{
   font-family: 'Open Sans', sans-serif;
}

h1
{
    margin: 0;
}

ul, label, li
{
    list-style: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

h2, h3, h4, h5, h6
{
    margin: 0;
    font-size: 20px;
    font-family: 'Raleway';
    color: #007fbf;
    text-align: center;   
}

h1
{
    font-size: 28px;
    font-family: 'Raleway';
    color: #007fbf;
    text-align: center;
    margin: 0;
}

p
{
    margin: 0;
}

body a:hover
{
    text-decoration: none;
}

form div
{
    display: inline-block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
{
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:focus,
select:focus,
textarea:focus,
button:focus
{
    outline-color: transparent;
}

select
{
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

div
{
    display: block;
}

::selection
{
    color: #e2e2e2;
    background: #00689c;
}

::-moz-selection
{
    color: #e2e2e2;
    background: #238ea6;
}

{
    color: #e2e2e2;
    background: #238ea6;
}

.clearfix:before,
.clearfix:after
{
    display: table;
    content: " ";
}

.clearfix:after
{
    clear: both;    
}

input[type=number]::-webkit-inner-spin-button 
{ 
    -webkit-appearance: none;
}

input[type=number] 
{ 
   -moz-appearance: textfield;
}

@font-face
{
   font-family: 'Quicksand';
   font-style: normal;
   font-weight: 300;
   src: local('Quicksand Light'), local('Quicksand-Light'), url(../fonts/quicksand-light.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face
{
   font-family: 'Quicksand';
   font-style: normal;
   font-weight: 400;
   src: local('Quicksand Regular'), local('Quicksand-Regular'), url(../fonts/quicksand-regular.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face
{
   font-family: 'Quicksand';
   font-style: normal;
   font-weight: 700;
   src: local('Quicksand Bold'), local('Quicksand-Bold'), url(../fonts/quicksand-bold.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body
{
    margin: 0;
    padding: 0;
}

.a-calculater 
{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.calculater
{
    width: 500px;
    height: 717px;
    box-shadow: 0 15px 22px rgba(0, 0, 0, 0.54);
    -o-box-shadow: 0 15px 22px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0 15px 22px rgba(0, 0, 0, 0.54);
    border: 1px solid rgba(0, 0, 0, 0.3607843137254902);
    background-color: #e6e6e6;
}

nav.a-menu 
{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.buttons-menu 
{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-menu span:first-child
{
    float: left;
    width: 50%;
    display: block;
}

.buttons-menu span:last-child
{
    float: left;
    width: 50%;
    display: grid;
    text-align: right;
}

.buttons-menu i 
{
    margin: 0 15px 0px 14px;
    color: rgba(0, 0, 0, 0.68);
    font-size: 18px;
    float: left;
}

.buttons-menu p 
{
    font-family: Arial;
    font-weight: 700;
    color: #525252;
    font-size: 19px;
}

.a-value-insert 
{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.a-value-insert span
{
    font-family: "Quicksand";
    font-size: 25px;
    font-weight: 700;
}

.a-value-insert span 
{
    font-family: "Quicksand";
    font-size: 35px;
    font-weight: 700;
    margin-right: 30px;
}

.a-buttons-cal ul.buttons-config 
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.buttons-config li 
{
    width: calc(100%/6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand";
    font-size: 12px;
    font-weight: 600;
    /*border: 1px solid rgba(186, 186, 186, 0.11);*/
}

.buttons-config li:not(.opacity-buttons):hover
{
    background-color: #a8a7a6;
}

.opacity-buttons
{
    color: rgba(0, 0, 0, 0.4);
}

.a-buttons-cal ul.buttons-action
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.buttons-action li 
{
    display: flex;
    width: calc((100%/4) - 4px);
    height: 70px;
    float: left;
    font-family: "Quicksand";
    font-size: 19px;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    margin: 2px;
}

.buttons-action li:last-of-type
{
    background-color: #a8a7a6;
}

.number-n
{
    font-weight: 600;
    background-color: #fff !important;
}